<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <a href="/">Home </a>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 ">
            </div>
            <div class="col-sm-6 " style="margin-top:20%">
                <div>
                    <form action="/editProduct" method="put" >
                        <div class="form-group">
                            <input  name="idProduct" id="" type="hidden"  class="form-control" value="{{model._id}}">
                            <label>Product Category</label>
                            <input name="category" id="" type="text" class="form-control" value="{{model.category}}">
                            <label>Product Name</label>
                            <input name="name" id="" type="text" class="form-control" value="{{model.name}}">
                            <label>Product Price</label>
                            <input name="price" id="" type="text" class="form-control" value="{{model.price}}">
                        </div>
                        <button type="submit" class="btn btn-primary" value="Update">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </form>
</body>

</html>